<meta http-equiv="Expires" content="0">
<meta http-equiv="Last-Modified" content="0">
<meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="@Url.Content("~/Content/kendo/2017.2.621/kendo.common.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/kendo/2017.2.621/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/kendo/2017.2.621/kendo.bootstrap.min.css")" rel="stylesheet" type="text/css" />

<link href="@Url.Content("~/CrpMonPortal/Css/Ether-Nity.css")" rel="stylesheet" type="text/css" />

<script src="@Url.Content("~/Scripts/kendo/2017.2.621/jquery.min.js")"></script>
<script src="@Url.Content("~/Scripts/kendo/2017.2.621/angular.min.js")"></script>
<script src="@Url.Content("~/Scripts/kendo/2017.2.621/jszip.min.js")"></script>
<script src="@Url.Content("~/Scripts/kendo/2017.2.621/kendo.all.min.js")"></script>

<script src="@Url.Content("~/Scripts/kendo/2017.2.621/cultures/kendo.culture.es-GT.min.js")"></script>
<script src="@Url.Content("~/Scripts/kendo/2017.2.621/messages/kendo.messages.es-GT.min.js")"></script>

<div class="iframeview-contenedor">
    @RenderBody()
</div>

<script>
    var urlGlobal = '@Url.Content("~")';
    kendo.culture("es-GT");
</script>